{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Usuario</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ entity.nome }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Respostasecreta</th>
                <td>{{ entity.respostaSecreta }}</td>
            </tr>
            <tr>
                <th>Senha</th>
                <td>{{ entity.senha }}</td>
            </tr>
            <tr>
                <th>Perguntasecreta</th>
                <td>{{ entity.perguntaSecreta }}</td>
            </tr>
            <tr>
                <th>Prm001</th>
                <td>{{ entity.prm001 }}</td>
            </tr>
            <tr>
                <th>Prm002</th>
                <td>{{ entity.prm002 }}</td>
            </tr>
            <tr>
                <th>Prm003</th>
                <td>{{ entity.prm003 }}</td>
            </tr>
            <tr>
                <th>Prm004</th>
                <td>{{ entity.prm004 }}</td>
            </tr>
            <tr>
                <th>Prm005</th>
                <td>{{ entity.prm005 }}</td>
            </tr>
            <tr>
                <th>Prm006</th>
                <td>{{ entity.prm006 }}</td>
            </tr>
            <tr>
                <th>Prm007</th>
                <td>{{ entity.prm007 }}</td>
            </tr>
            <tr>
                <th>Prm008</th>
                <td>{{ entity.prm008 }}</td>
            </tr>
            <tr>
                <th>Prm009</th>
                <td>{{ entity.prm009 }}</td>
            </tr>
            <tr>
                <th>Prm010</th>
                <td>{{ entity.prm010 }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('usuario') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('usuario_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
